<div class="input-relative">
  <div
    (click)="hideInputView($event)"
    class="p-inputtext input-view"
    [class.input-view__hidden]="focus"
  >
    {{ viewTransformer ? viewTransformer(valueFormControl.value) :  valueFormControl.value}}
  </div>
  <p-inputNumber
    #inputNumber
    [allowEmpty]="false"
    class="p-field"
    mode="decimal"
    [useGrouping]="false"
    [min]="min"
    [max]="max"
    [maxlength]="maxlength"
    (onInput)="inputChange($event)"
    [formControl]="valueFormControl"
    (onBlur)="inputOnblur()"
  ></p-inputNumber>
</div>
<p-slider
  [min]="min"
  [max]="max"
  [step]="step || 1"
  [formControl]="valueFormControl"
  (onChange)="inputChange($event)"
></p-slider>
