<div class="calc-container">
    <form
      [formGroup]="formGroup"
      class="inputs-group p-component"
    >
      <p class="inputs-group__title">Условия кредита</p>
      <div class="p-grid p-fluid input-container">
        <p>Сумма кредита</p>
        <app-calc-input
          [min]="minTotalAmount"
          [max]="maxTotalAmount"
          [step]="totalAmountStep"
          formControlName="totalAmount"
          [viewTransformer]="transformAmountValue"
        ></app-calc-input>
      </div>
      <div class="p-grid p-fluid input-container">
        <p>Срок кредита</p>
        <app-calc-input
          [min]="minMonths"
          [max]="maxMonths"
          formControlName="months"
          [viewTransformer]="transformMonths"
        ></app-calc-input>
      </div>
      <div class="p-grid p-fluid switch-container">
        <p-inputSwitch formControlName="switch"></p-inputSwitch>
        <span>Переключатель</span>
      </div>
    </form>
    <div class="calc-details p-grid p-fluid p-component">
      <div class="calc-details__row calc-details__row__total-amount">
        <p class="calc-details__label">Ежемесячный платеж</p>
        <p class="calc-details__number">{{ transformAmountValue(monthLyAmount) }}</p>
      </div>
      <div class="calc-details__row">
        <p class="calc-details__label">Ставка от</p>
        <p class="calc-details__number">{{ transformLoanRate(loanRate) }}</p>
      </div>
      <div class="calc-details__row">
        <p class="calc-details__label">Срок кредита</p>
        <p class="calc-details__number">{{ transformMonths(formValue.months) }}</p>
      </div>
      <div class="calc-details__row">
        <p class="calc-details__label">Сумма кредита</p>
        <p class="calc-details__number">{{ transformAmountValue(formValue.totalAmount) }}</p>
      </div>
    </div>

  </div>

